@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  font-family: 'Inter', sans-serif;
}


#navbar-flex {
  background-color: rgb(19, 19, 18);
  box-sizing: border-box;
  margin: 0;
  padding: 0.4rem;
}

#navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
}

#navigation-bar li {
  list-style: none;
  padding: 0.5rem;
  color: white;
}

/* To align only the MeShop element to the left */
.nav-left {
  margin-right: auto;
}

.nav-right{
  margin-right: 0.5rem;
}

.nav-els-a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav-els-a:hover {
  color: rgb(243, 162, 64);
}

/* Using the image as a background image to the entire div. Hence, the need to specify the height of the div */
#home-div {
  height: 80vh;
  background-image: url(Images/Home/bg-image\(flipped\).png);
  background-origin: content-box;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 10rem;

  padding: 3rem;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  padding: 0.4rem;
}

#home-div p {
  font-size: 1.3rem;
  padding: 0.4rem;
  margin-bottom: 1rem;
}

.home-btns {
  padding: 0.3rem 2.5rem;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  border: 0.12rem solid black;
}

#signup-btn {
  margin-left: 1rem;
  background-color: white;
}

#login-btn {
  background-color: black;
  color: white;
}