@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

#profile-navbar-flex {
  background-color: rgb(19, 19, 18);
  box-sizing: border-box;
  margin: 0;
  padding: 0.4rem;
}

#navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
}

#navigation-bar li {
  list-style: none;
  padding: 0.5rem;
  color: white;
}

/* To align only the MeShop element to the left */
.nav-left {
  margin-right: auto;
}

.nav-right{
  margin-right: 0.5rem;
}

.nav-els-a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav-els-a:hover {
  color: rgb(243, 162, 64);
}

/* Styling the elements of the Profile page */

.profile-flex {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.headings {
  font-size: 3rem;
  font-weight: bold;
  padding: 0.3rem 0;
  margin: -0.5rem auto 1rem auto;
}

.profile-inputs {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.1rem;
}

.profile-btns {
  padding: 0.5rem 2.5rem;
  margin-top: 1.5rem;
  width: 15rem;

  color: white;
  background-color: black;
  border: 1px solid black;

  font-size: 1.1rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 0, 0);
  opacity: 1; /* Firefox */
}